<template>
  <v-simple-table>
    <thead>
      <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Email</td>
        <td>Position</td>
      </tr>
    </thead>
    <tbody>
      <tr v-for="user in users" :key="user.id">
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.position }}</td>
      </tr>
    </tbody>
  </v-simple-table>
</template>

<script lang="ts">
import { IUser } from "@/services/api/apiTypes";

export default {
  props: {
    users: {
      type: Array as () => IUser[]
    }
  }
};
</script>
