<template>
  <v-app>
    <v-app-bar app color="primary" dark>
      <v-toolbar-title>Users List</v-toolbar-title>
    </v-app-bar>

    <v-content>
      <UsersList />
    </v-content>
  </v-app>
</template>

<script lang="ts">
import Vue from "vue";
import UsersList from "@/views/UsersList.vue";

export default Vue.extend({
  name: "App",

  components: {
    UsersList
  },

  data: () => ({})
});
</script>
