<template>
  <v-container fluid>
    <UsersTable v-if="!loading" :users="users" />
    <v-skeleton-loader v-if="loading" type="table" />
    <v-pagination
      :length="pagination.pageCount"
      :value="pagination.page"
      v-on:input="selectPage"
      v-on:next="nextPage"
      v-on:previous="prevPage"
    />
  </v-container>
</template>

<script lang="ts">
import Vue from "vue";

import UsersTable from "@/components/UsersTable.vue";
import { mapState } from "vuex";

export default Vue.extend({
  components: {
    UsersTable
  },
  computed: mapState(["users", "pagination", "loading"]),
  mounted(): void {
    this.$store.dispatch("fetchUsers");
  },
  methods: {
    selectPage(page: number) {
      this.$store.dispatch("selectPage", page);
    },
    nextPage() {
      this.$store.dispatch("selectPage", this.pagination.page + 1);
    },
    prevPage() {
      this.$store.dispatch("selectPage", this.pagination.page - 1);
    }
  }
});
</script>
